@page "/myprofile"

<PageTitle>My profile</PageTitle>

<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <span class="card-title fs-6 d-block d-md-none fw-bold">Your Profile Information</span>
            <span class="card-title fs-4 d-none d-md-block fw-bold">Your Profile Information</span>
        </div>
        <div class="card-body">
            @if (StaticUserInfoBlazor.User != null)
            {
                <div class="mb-3">
                    <label class="form-label">Display Name:</label>
                    <InputText class="form-control" @bind-Value="StaticUserInfoBlazor.User.DisplayName" disabled />
                </div>
                <div class="mb-3">
                    <label class="form-label">Email:</label>
                    <InputText class="form-control" @bind-Value="StaticUserInfoBlazor.User.Email" disabled />
                </div>
                <div class="mb-3 form-check">
                    <InputCheckbox class="form-check-input" @bind-Value="StaticUserInfoBlazor.User.EmailConfirmed" disabled />
                    <label class="form-check-label">Email confirmed</label>
                </div>
                <div class="mb-3">
                    <label class="form-label">Member number:</label>
                    <InputText class="form-control" @bind-Value="StaticUserInfoBlazor.User.MemberNumber" disabled />
                </div>
                <div class="mb-3">
                    <label class="form-label">Points earned:</label>
                    <InputNumber class="form-control" @bind-Value="StaticUserInfoBlazor.User.TotalPointsAwarded" disabled />
                </div>
                <div class="mb-3">
                    <label class="form-label">Points redeemed:</label>
                    <InputNumber class="form-control" @bind-Value="StaticUserInfoBlazor.User.TotalPointsRedeemed" disabled />
                </div>
                <div class="mb-3">
                    <label class="form-label">Points balance:</label>
                    <input class="form-control" value="@StaticUserInfoBlazor.User.PointsBalance" disabled readonly />
                </div>
                <button class="btn btn-success" @onclick="NavigateToChangePassword">Change Password</button>
                
            }
        </div>
    </div>
    
    <WebAuthnComponent AllowLogin="false" AllowRegistration="true" NavigateOnLoginSuccess="false" />
    
    <div class="card mt-2">
        <div class="card-header">
            <span class="card-title fs-6 d-block d-md-none fw-bold">Your Organization & Department</span>
            <span class="card-title fs-4 d-none d-md-block fw-bold">Your Organization & Department</span>
        </div>
        <div class="card-body">
            <EditForm Model="_organizationDepartmentForm" OnValidSubmit="HandleValidSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary />
                    
                <div class="mb-3">
                    <label for="organization">Organization:</label>
                    <InputSelect id="organization" @bind-Value="_organizationDepartmentForm.SelectedOrganizationId"
                                 class="form-control" @bind-Value:after="OnOrganizationChanged">
                        <option value="">Select Organization</option>
                        @foreach (var org in _organizationDepartmentForm.Organizations)
                        {
                            <option value="@org.Id">@org.Name (@StaticUserInfoBlazor.OrganizationRole)</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="@(() => _organizationDepartmentForm.SelectedOrganizationId)" />
                </div>
                    
                <div class="mb-3">
                    <label for="department">Department:</label>
                    <InputSelect id="department" @bind-Value="_organizationDepartmentForm.SelectedDepartmentId"
                                 class="form-control">
                        <option value="">Select Department</option>
                        @foreach (var dept in _organizationDepartmentForm.Departments)
                        {
                            <option value="@dept.Id">@dept.Name (@StaticUserInfoBlazor.DepartmentRole)</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="@(() => _organizationDepartmentForm.SelectedDepartmentId)" />
                </div>
                    
                <button type="submit" class="btn btn-primary">Update</button>
                <SpinnerComponent ShowSpinner="@IsUpdating" />
            </EditForm>
            <FormResultComponent @ref="FormResult" />
        </div>
    </div>
    <VersionComponent ShowFullVersionInfo="true" AlwaysShowRefreshButton="true" />
</div>
