@page "/reset-password"
@attribute [Authorize(Roles = "OrganizationAdmin,EnterpriseAdmin")]

<div class="container">
    <h3>Reset Password</h3>
    @if (_users != null)
    {
        <InputSelect Value="_selectedUserId" ValueChanged="((string? value) => SelectedUserChangedAsync(value))" ValueExpression="() => _selectedUserId" class="form-select form-select-sm">
                        <option value="">Select user</option>
                        @foreach (var ele in _users.OrderByDescending(c => c.UserName))
                        {
                            <option value="@ele.Id">@ele.UserName</option>
                        }
            </InputSelect>
    }
    @if (_selectedUser != null)
    {
        <EditForm Model="@_resetPasswordModel" OnValidSubmit="HandleValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="mb-3">
                <label for="newPassword" class="form-label">New Password</label>
                <InputText id="newPassword" type="password" class="form-control" @bind-Value="_resetPasswordModel.Password" />
                <ValidationMessage For="@(() => _resetPasswordModel.Password)" />
            </div>
            <div class="mb-3">
                <label for="confirmPassword" class="form-label">Confirm Password</label>
                <InputText id="confirmPassword" type="password" class="form-control" @bind-Value="_resetPasswordModel.ConfirmPassword" />
                <ValidationMessage For="@(() => _resetPasswordModel.ConfirmPassword)" />
            </div>
            <button type="submit" class="btn btn-primary">Reset Password</button>
        </EditForm>
    }
    <FormResultComponent @ref="FormResult" />
</div>