    
    <div class="card mt-2">
        <div class="card-header">
            <span class="card-title fs-5 fw-bold">Department Task - Top Score Users</span>
            <SpinnerComponent ShowSpinner="@IsLoading" />
        </div>
        <div class="card-body">
            <p class="card-text">
                This component displays the top ranked users based on the points they have been awarded for completing department tasks. The users are ranked according to their total points, and the top performers are highlighted with star icons to indicate their ranking position. The component also includes a loading spinner that is displayed while the data is being fetched, ensuring a smooth user experience.
            </p>
            @if (TopUsersWithPointsAwarded != null && TopUsersWithPointsAwarded.Count > 0)
            {
                @foreach (var user in TopUsersWithPointsAwarded)
                {
                    <div class="row border border-secondary rounded rounded-1 my-2 p-2 @(user.UserId == StaticUserInfoBlazor.User?.Id ? "alert alert-info" : "")">
                        <div class="col-12 col-md-2">
                            Ranking: @user.UserRanking
                        </div>
                        <div class="col-12 col-md-4">
                            <strong>@user.UserDisplayName</strong>
                        </div>
                        <div class="col-12 col-md-4">
                            Points Awarded: @user.TaskPointsAwarded
                        </div>
                        <div class="col-12 col-md-2">
                            @{
                                var stars = user.UserRanking switch
                                {
                                    1 => "<span class=\"oi oi-star text-warning\" title=\"star\" aria-hidden=\"true\"></span><span class=\"oi oi-star text-warning\" title=\"star\" aria-hidden=\"true\"></span><span class=\"oi oi-star text-warning\" title=\"star\" aria-hidden=\"true\"></span><span class=\"oi oi-star text-warning\" title=\"star\" aria-hidden=\"true\"></span><span class=\"oi oi-star text-warning\" title=\"star\" aria-hidden=\"true\"></span>",
                                    2 => "<span class=\"oi oi-star text-warning\" title=\"star\" aria-hidden=\"true\"></span><span class=\"oi oi-star text-warning\" title=\"star\" aria-hidden=\"true\"></span><span class=\"oi oi-star text-warning\" title=\"star\" aria-hidden=\"true\"></span><span class=\"oi oi-star text-warning\" title=\"star\" aria-hidden=\"true\"></span>",
                                    3 => "<span class=\"oi oi-star text-warning\" title=\"star\" aria-hidden=\"true\"></span><span class=\"oi oi-star text-warning\" title=\"star\" aria-hidden=\"true\"></span><span class=\"oi oi-star text-warning\" title=\"star\" aria-hidden=\"true\"></span>",
                                    4 => "<span class=\"oi oi-star text-warning\" title=\"star\" aria-hidden=\"true\"></span><span class=\"oi oi-star text-warning\" title=\"star\" aria-hidden=\"true\"></span>",
                                    _ => "<span class=\"oi oi-star text-warning\" title=\"star\" aria-hidden=\"true\"></span>"
                                };
                            }
                            @((MarkupString)stars)
                        </div>
                    </div>
                }
            }
            <FormResultComponent @ref="FormResult" />
        </div>
    </div>
    
    
