@if (AppUserDepartment != null)
{

    <EditForm Model="@AppUserDepartment" OnValidSubmit="@HandleUpdateRoleAsync">
        <div class="row rounded rounded-1 my-1 p-2 border border-1 border-secondary">
            <div class="col-12 col-md-2">
                <strong>Department:</strong>
            </div>
            <div class="col-12 col-md-3">
                @AppUserDepartment.Department?.Name
            </div>
            <div class="col-12 col-md-1">
                <strong>Role:</strong>
            </div>
            <div class="col-12 col-md-3">
                <InputSelect @bind-Value="AppUserDepartment.Role" class="form-select">
                    @foreach (var role in RoleHelper.GetDepartmentRoles())
                    {
                        <option value="@role">@role.ToString()</option>
                    }
                </InputSelect>
            </div>
            <div class="col-12 col-md-2">
                <button type="submit" class="btn btn-primary btn-sm">Update</button>
            </div>
            <div class="col-12 col-md-1">
                <button type="button" class="btn btn-danger btn-sm" @onclick="HandleDeleteAsync">Delete</button>
            </div>
        </div>
    </EditForm>
    <FormResultComponent Result="_updateResult" />
}