@if (AppUserOrganization != null)
{
    <EditForm Model="@AppUserOrganization" OnValidSubmit="@HandleUpdateRoleAsync">
        <div class="row rounded rounded-1 my-1 p-2 border border-1 border-secondary">
            <div class="col-12 col-md-2">
                <strong>Organization:</strong>
            </div>
            <div class="col-12 col-md-3">
                @AppUserOrganization.Organization!.Name
            </div>
            <div class="col-12 col-md-1">
                <strong>Role:</strong>
            </div>
            <div class="col-12 col-md-3">
                <InputSelect @bind-Value="AppUserOrganization.Role" class="form-select">
                    @foreach (var role in RoleHelper.GetOrganizationRoles())
                    {
                        <option value="@role">@role.ToString()</option>
                    }
                </InputSelect>
            </div>
            <div class="col-12 col-md-2">
                <button type="submit" class="btn btn-primary btn-sm">Update</button>
            </div>
            <div class="col-12 col-md-1">
                <button type="button" class="btn btn-danger btn-sm" @onclick="HandleDeleteAsync">Delete</button>
            </div>
        </div>
    </EditForm>
    
    <FormResultComponent Result="_updateResult" />
    
    <h5>Departments</h5>
    @if (_departments != null)
    {
        <EditForm Model="@_newAppUserDepartment" OnValidSubmit="@HandleAddDepartmentAsync">
            <div class="row rounded rounded-1 my-1 p-2 border border-1 border-light">
                <div class="col-12 col-md-3">
                    <InputSelect @bind-Value="_newAppUserDepartment.DepartmentId" class="form-select">
                        <option value="">Select Department</option>
                        @if (_departments != null)
                        {
                            @foreach (var dept in _departments)
                            {
                                <option value="@dept.Id">@dept.Name</option>
                            }
                        }
                    </InputSelect>
                </div>
                <div class="col-12 col-md-3">
                    <InputSelect @bind-Value="_newAppUserDepartment.Role" class="form-select">
                        <option value="">Select Role</option>
                        @foreach (var role in RoleHelper.GetDepartmentRoles())
                        {
                            <option value="@role">@role.ToString()</option>
                        }
                    </InputSelect>
                </div>
                <div class="col-12 col-md-2">
                    <button type="submit" class="btn btn-success btn-sm">Add</button>
                </div>
            </div>
        </EditForm>
    }
    @if (AppUserDepartments != null && AppUserDepartments.Any())
    {
        @foreach (var dept in AppUserDepartments)
        {
            <DepartmentComponent @ref="_userDepartmentsDict[dept.Id]" AppUserDepartment="dept" />
        }
    }
}