
@if (User != null) {
    <div class="card mt-2">
        <div class="card-header">
            <span class="card-title fs-6 d-block d-md-none fw-bold">User Details</span>
            <span class="card-title fs-4 d-none d-md-block fw-bold">User Details</span>
        </div>
        <div class="card-body">
            <p class="card-text">
                This section allows you to view and edit the details of the selected user. 
                You can update the user's username, email address, display name, and member number. 
                After making any changes, click the "Update" button to save the changes to the user's profile. 
                If you wish to remove the user from the system, you can click the "Delete User" button, which will permanently delete the user's account and all associated data. 
                Please proceed with caution when deleting a user, as this action cannot be undone.
            </p>
    
        <EditForm Model="User" OnValidSubmit="HandleSubmitUser">
                        <DataAnnotationsValidator />
                        <ValidationSummary />
            
            <div class="mb-3">
                <label class="form-label">User</label>
                <InputText @bind-Value="User.UserName" class="form-control" />
                <ValidationMessage For="@(() => User.UserName)" />
            </div>
            <div class="mb-3">
                <label class="form-label">Email</label>
                <InputText @bind-Value="User.Email" class="form-control" />
                <ValidationMessage For="@(() => User.Email)" />
            </div>
            <div class="mb-3">
                <label class="form-label">Display Name</label>
                <InputText @bind-Value="User.DisplayName" class="form-control" />
                <ValidationMessage For="@(() => User.DisplayName)" />
            </div>
            <div class="mb-3">
                <label class="form-label">Member number</label>
                <InputText @bind-Value="User.MemberNumber" class="form-control" />
                <ValidationMessage For="@(() => User.MemberNumber)" />
            </div>
            <div class="mb-3">
                <label class="form-label">Points awarded</label>
                <InputNumber @bind-Value="User.TotalPointsAwarded" class="form-control" />
                <ValidationMessage For="@(() => User.TotalPointsAwarded)" />
            </div>
            <div class="mb-3">
                <label class="form-label">Points redeemed</label>
                <InputNumber @bind-Value="User.TotalPointsRedeemed" class="form-control" />
                <ValidationMessage For="@(() => User.TotalPointsRedeemed)" />
            </div>
            <div class="mb-3">
                <label class="form-label">Points balance</label>
                <input type="number" value="@User.PointsBalance" class="form-control" disabled />
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
            <button type="button" class="btn btn-danger ms-4" @onclick="HandleDeleteUserAsync">Delete User</button>
            <FormResultComponent @ref="_formResult" />
        </EditForm>
        </div>
    </div>
        @if (User.AppUserOrganizations != null && User.AppUserOrganizations.Any())
        {
            @foreach (var userOrganization in User.AppUserOrganizations)
            {
                <OrganizationComponent @ref="_userOrganizationsDict[userOrganization.Id]" AppUserOrganization="userOrganization" AppUserDepartments="User.AppUserDepartments?.Where(d => d.Department!.OrganizationId == userOrganization.OrganizationId).ToList()" />
            }
        }
}

